#particles-js{
    background:whitesmoke;
    height: 100%;

}

#myFont{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 70px;
    color:rgb(35, 231, 238);
    opacity: .75;
}

#myFont2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color:lightgray;
}

#hoverMe:hover{
    background: rgb(35, 231, 238);

}